body{
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 100vh;
    background-image: linear-gradient(180deg, #B7F8DB 0%, #50A7C2 100%);
}

.calc{
    background-color: #1f1f1f;
    width: 25rem;
    height: 32rem;
    border-radius: 1.4em;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 50%);
}
#screen{
    background-color: #37393d;
    width: 21.5rem;
    height: 5rem;
    font-weight: 500;
    padding-inline-start: 0.4rem;
    margin-top: 1.6rem;
    border-radius: 0.5em;
    font-size: 30px;
    color: #c4c7c5;
    border: 0px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.buttons{
    margin-top: 1.2rem;
}

.output{
    width: 100%; 
    height: 100%;
}

.btn-row{
   padding: 0.78rem;
   
}

.btn{
    width: 4.5rem;
    height: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: #28282a;
    border-radius: 30px;
    font-weight: 400;
    font-size: x-large;
    color: #c2e7ff;
    border: 0px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.btn:hover{
    opacity: 0.6;
    cursor: pointer;
}
