*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.nav-link{
  font-weight: 400;
  color: black;
  border-radius: 1.25em;
  padding: 0.35em;
  margin-right: 0.5em;
}

.nav-link:hover{
  background-color: red;
  color: white;
  filter: drop-shadow(5px 10px 10px rgb(0, 0, 0, .10));
  
}

.navbar-brand{
  border-radius: 0.5em;
  padding: 0.25em;
  
}
.navbar-brand:hover{
  background-color: red;
  transition-duration: 500ms; 
  filter: drop-shadow(5px 10px 10px rgb(0, 0, 0, .10));

}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

h1{
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
  }
  
h3, h4 {
    color: black;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
  }
  
h3 {
    font-size: 5rem;
    margin-top: 36vh; 
  }
  
h4 { font-size: 2rem; }

.dp{
    width: 50%;
    height: 50%;
  }

.carousel {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

.btn-outline-danger:hover{
    color: white;
    background-color: red;
  }

.v-wrapper h4{
    font-size: 3em;
  }

.btn-outline-white:hover{
    background-color: red;
    color: white;
  }

.socialbtns .fa-brands:hover{
    cursor: pointer;
    border-radius: 2px;
    color: red;
  
  
}
.socialbtns .fa-brands{
   width: 1.5em;
   color: black;
}

.info:hover{
   color: red;
}

    
